html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  &__title {
    font-size: 52px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 16px;
    color: #777777;
  }
}